<!doctype html>
<html>
  <head>
    <title>First EJS Lab</title>
  </head>
  <body>
    <h1>My First EJS Lab</h1>

    <h2> <%= welcomePhrase %> </h2>
    <p> One fine day, <%= name %> met <%= hisName %> </p>
  </body>
</html>
