
<!doctype html>
<html>
  <head>
    <title>Title</title>
  </head>
  <body>
    <h1> <%=welcomePhrase%></h1>
    <h2> <%=welcomePhrase%></h2>
  </body>
</html>
<<<<<<< HEAD
=======

>>>>>>> 434c8830d23671604dfb763c34874b58fb1031ab
