<!doctype html>
<html>

<head>
  <title>First EJS Lab</title>
</head>

<body>
  <h1>My First EJS Lab</h1>
  <h2><%= welcomePhrase %></h2>
  <p>My name is
    <%= name %>
  </p>
  <h6>I want to learn how to code and start a new career</h6>
  <h6>I have worked as <%= myJobs %></h6>

</body>

</html>
