<!doctype html>
<html>
  <head>
    <title>First EJS Lab</title>
  </head>
  <body>
    <h1><%= welcomePhrase %></h1>
    <h2>The time is <%= new Date() %></h2>
    <h3><%= name %></h3>


  </body>
</html>
